.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clickable {
    cursor: pointer;
}

#title-text {
    align-items: center;
    margin-top: 40px;
    margin-bottom: 200px;
}

#search-section {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;

    #searchbar {
        width: 33%;
        height: 46px;
        display: flex;
        align-items: center;
        padding: 0 10px 0 10px;
        border-radius: 5px;
        outline: 0;
        margin-right: 20px;
    }

    #search-button {
        border-radius: 5px;
        width: 100px;
        background-color: lightgray;
    }
}

.selected {
    border: 3px solid blue;
}

#engine-buttons {
    justify-content: space-around;

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding: 3px;

        .logo {
            max-width: 150px;
            max-height: 150px;
        }
    }
}

#result-header {
        width:100%;
        height:12%;
        margin-bottom: 10px;
}

#result-header #back-to-index {
        width:          10%;
        padding-top:    5px;
        padding-bottom: 5px;
        text-align:     center;
}

#result-header #searchbar-result {
        width:          33%;
        display:        flex;
        align-items:    center;
        margin-top:     5px;
        margin-bottom:  5px;
        margin-right:   20px;
        padding: 0 10px 0 10px;
        border-radius:  5px;
        outline:        0;
}

#result-header #search-button-result {
        width:          100px;
        outline:        0;
        border-radius:  5px;
        margin-top:     10px;
        margin-bottom:  10px;
        background-color: lightgray;
}

#result-list {
        width: 33%;
}

#result-list .result {

}

#result-header .logo-container-result {
        align-self: flex-end;
        margin: 0px 20px 0px 20px
}

#result-header .logo-container-result .logo {
        margin: 5px 20px 5px 20px;
        max-width: 60px;
        max-height: 60px;
}
